<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>汤姆猫查课系统</title>
    <script src="./vue.js"></script>
    <script src="./mydata_get.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
</head>
<body>

    <h2 style="text-align:center; text-shadow: -3px -1px 1px #3acbef; color: #064473; margin-bottom: 0;">CLASS TABLE BAIDU 8 </h2>
    <p id="jinrishici-sentence" style="text-align: center; font-family:'隶书'; font-size: 10px; margin-top: 5px;">正在加载今日诗词....</p>

    <div id="root">
        <div  class="max-box">
            <span>教学周</span>
            <select name="" id="" style="width: 100%; height: 40px" @change="sel_change($event)">
                <selected label="教学周">教学周</selected>
                <optgroup label="教学周选择">请选择教学周</optgroup> 
                <!-- <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option> -->
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
            </select>
            <span>星期</span>
            <select name="" id="" style="width: 100%; height:40px;" @change="sel_two_change($event)">
                <option value="1">星期一</option>
                <option value="2">星期二</option>
                <option value="3">星期三</option>
                <option value="4">星期四</option>
                <option value="5">星期五</option>
                <option value="6">星期六</option>
                <option value="7">星期日</option>
            </select>
            <br>  <button @click="get_data" class="search_button">查询</button>
            <p style="color: #737373; font-size:14px">课表已更新！本数据从教务系统导出。课程更新时间：<span style="color: red;">2022/11/21</span></p>
  
            <div v-if="this.class">
                <h3>当日无课程，如存疑问 可自查课表为准</h3>
                <img src="./image/bqb.jpg" alt="">

            </div>

            <div v-for=" i of table" class="box">

                <p style="color: rgb(6,132, 163); font-weight: 800; font-size: 18px;">{{i['name']}}</p>
                <p>教师：{{i['teacher']}}</p>
                <p>日期：{{i['time']}}</p>
                <p>地点：{{i['addr']}}</p>
                <p style="color: red">开始：{{i['start_time']}}</p>
                <p>结束：{{i['end_time']}}</p>
                
            </div>
            
        </div>
        <div class="tie_box">
            <div class="fix_button">
                <button class="xiaoli_button" @click="xiaolifunc()" >校历表</button><br><br>
                <button class="up_classTime_button" @click="up_class_time()">上课时间表</button>
            </div>
            <div class="xiaoli" :style="xl" @click="xl_off()">
                <img src="./image/xiaoli.png" alt="">
            </div>
            <div class="up_classTime" :style="up" @click="up_off()">
                <img src="./image/2.jpg" alt="">
            </div>
        </div>
        <!-- <div class="announcement">
            <h1>调课通知</h1>
        </div> -->
    </div>
    
    

    <script>
       const Vm=new Vue({
            el: '#root',
            data: {
                table:[],
                week: 13,
                to_week: 1,
                class: false,
                xl: {
                    right: '-120%'
                },
                up:{
                    left: '-120%'
                }
            },
            methods: {
                get_data(){

                    this.table=get_table(this.week,this.to_week);
                    if(this.table.length==0){
                        this.class=true;
                    }else{
                        this.class=false;
                    }
                    
                },
                sel_change(event){
                    
                    let a=function(){
                        
                       return Number(event.target.value)
                    }
                    this.week=a()
                    this.get_data()
            },  
                sel_two_change(event){
                    let a=function(){
                       return Number(event.target.value)
                    }
                    this.to_week=a()
                    this.get_data()
                },
                xiaolifunc(){
                    this.xl.right='0'
                },
                up_class_time(){
                    this.up.left='0'

                },
                xl_off(){
                    this.xl.right='-100%'
                },
                up_off(){
                    this.up.left='-100%'
                }
            },


        })
        
    </script>
</body>

</html>
